*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.screen{
   height: 100%;
   width: 100%;
   background: linear-gradient(to top, #fff 0%, #00ccff 100%);
   background-position: center;
   background-size: cover;
   position: absolute;
}
.box{
    width: 380px;
    height: 460px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
}
.button{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff9900;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
}
#btn{
top:0;
left:0;
position: absolute;
width: 110px;
height: 100%;
background:  linear-gradient(to right, #ff9900, #fff);
border-radius: 30px;
transition: .3s;
}



.input{
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .3s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #ff9900;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    display: block;
    background: #ff9900;
    border: 0;
    
    border-radius: 30px;
    
}

.checkbox{
    margin: 30px 10px 30px 5px;
}

span{
    color:#777;
    font-size: 13px;
    bottom: 68px;
    

}

#login{
    left:50px;

}
#register{
    left:450px;
}



